* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent{
  max-width: 2000px;
  margin: 0 auto;
}

body {
  background-image: url(alfons-morales-YLSwjSy7stw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo div,
.logo img {
  height: 15vh;
  width: 18vh;
  overflow: hidden;
  border-radius: 50%;
  background-color: #ffffff8e;
  cursor: pointer;
}

.login button {
  width: 150px;
  height: 80px;
  font-size: 20px;
  border: none;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.login button:hover{
  background: #9C27B0;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  align-items: center;
}

main h1 {
  color: white;
  font-size: 100px;
  padding-bottom: 50px;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.9), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 700px;
  height: 300px;
}

.buttons button {
  backdrop-filter: blur(8px);
  background-color: rgba(247, 140, 255, 0.3);
  border: none;
  width: 350px;
  height: 350px;
  text-decoration: none;
  color: white;
  font-size: 60px;
  margin: 5px;
  border-radius: 35px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #E040FB;
}

@media only screen and (max-width: 1024px) {
  main h1{
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .buttons{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .logo img {
    width: 150px;
  }
}
